.table-container {  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.table-alerts-header{
    background: #2F4F4F;
    border-radius: 2%;
    padding: 0.5%;
    width: 76.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    flex-direction: row;
    margin-top: 1rem;
}

.reload-btn {
  background: var(--color-bg);
  border: none;
  border-radius: 50%;
  cursor: pointer;      
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  user-select: none;
  width: 30px;
  height: 30px;
  margin-right: 1%;
}

.reload-btn .material-icons {
  font-size: 20px;
  color: var(--color-primary);
  pointer-events: none; 
}