.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-title {
  color: var(--color-bg);
  font-size: 3.5rem;
  margin-bottom: 12px;
}

.subtitle {
  color: var(--color-bg);
}