:root{
  --header-border: #e6eef0;
  --accent: #1e90ff;
  --color-temperature: linear-gradient(355deg,rgba(31, 145, 145, 1) 0%, rgba(76, 143, 143, 1) 35%, rgba(128, 125, 125, 1) 100%);
  --color-primary: #324958;
  --color-secondary: #34484e;
  --color-bg: #f4f8fb;
  --color-hover: #1e3333;
}

html, body, app-root {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(100deg,rgb(38, 94, 116) 0%, #34484e 65%, rgb(69, 98, 121) 100%);
}

.container {
  min-height: 100vh;     
  display: flex;
  align-items: center;    
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
