<table class="sensor-table">
    <thead>
        <tr>
            <th>Localidade</th> 
            <th>Temperatura</th>
            <th>Máx Temperatura</th>
            <th>Humidade</th>
            <th>Máx Humidade</th>
            <th>Vento</th>
            <th>Máx Vento</th>
            <th>Precipitação</th>
            <th>Máx Precipitação</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>   
        <tr *ngIf="alerts.length === 0">            
            <td colspan="10" class="no-data-cell">Nenhum alerta encontrado</td>            
        </tr>
        <tr *ngFor="let sensor of alerts">
            <td>{{ sensor.state }}</td>
            <td>{{ sensor.temperature }}</td>
            <td>{{ sensor.maxTemperature || "-"}}</td>
            <td>{{ sensor.humidity }}</td>
            <td>{{ sensor.maxHumidity || "-"}}</td>
            <td>{{ sensor.wind }}</td>
            <td>{{ sensor.maxWind || "-"}}</td>
            <td>{{ sensor.precipitation }}</td>
            <td>{{ sensor.maxPrecipitation || "-"}}</td>
            <td>{{ dateFormatConverter(sensor.alertDate) }}</td>
        </tr>
    </tbody>
</table>