.sensor-table {
  width: 77.7rem;
  border-collapse: collapse;
  background-color: #f8f8f8;
}

.no-data-cell{
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #666;
}

.sensor-table th, .sensor-table td {
  border: 1px solid #2F4F4F;
  padding: 8px 12px;
  text-align: center;
}

.table-body{
  height: 35rem;
}

.sensor-table th {
  background-color: #2F4F4F;
  color: #fff;
  font-weight: bold;
}

.sensor-table tr:nth-child(even) {
  background-color: #e0e0e0;
}