.weather-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 190px;
    background-color: var(--color-primary);
    border-radius: 2.5%;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.icon-condition{
    width: 64px;
    height: 64px;
    margin-top: 2%;
}

.weather-modal-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-size: 16px;
    font-weight: 500;
}